
  .sec3{
        color: white;
    background: linear-gradient(90deg,rgb(2, 28, 94) 19%, rgb(29, 0, 196) 42%, rgba(98, 74, 234, 1) 60%, rgba(14, 63, 189, 1) 85%);
  }
  .color:hover{
    color: white;
  }
  